
<h2> Types Of Flowers </h2>

<span> Some Types of flowers are: 
    <ul>

<li> Alstroemeria. </li>
<li> Calla Lily. </li>
<li> Daisy. </li>
<li> Gardenia. </li>
<li> Carnation. </li>
<li> Gerbera Daisy. </li>
<li> Orchid. </li>
<li> Tulip.  </li>
</span>

<p> Do You know more? Please tell us here <a href="" </p>